@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
ion-content {
	--background: var(--secondary-color);
}

ion-toolbar {
	--background: var(--secondary-color);
}

ion-toolbar ion-button {
	--background: none;
	--box-shadow: none;
}

ion-toolbar ion-button ion-icon {
	color: var(--primary-color);
	font-size: 24px;
}

ion-grid {
	margin-top: 5vh;
}

.book-header {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 40vh;
}

.book-cover {
	display: flex;
	justify-content: flex-end;
	width: 15.5vh;
	height: 23.5vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}

.book-cover ion-button {
	position: relative;
	left: 30%;
	top: -7%;
	--background: none;
	--box-shadow: none;
}

.book-cover ion-button ion-icon {
	color: var(--primary-color);
	width: 4vh;
	height: 4vh;
}

.book-header-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 30%;
}

.book-title {
	width: 80%;
	text-align: center;
	font-family: 'Zilla Slab', serif;
	color: #000000;
	font-weight: 600;
	font-size: 3.5vh;
}

.book-author {
	width: 80%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 2vh;
	color: #000000;
	opacity: 0.6;
}

.buying {
	width: 80%;
	height: 8vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.buying ion-button {
	font-family: 'Zilla Slab', serif;
	font-weight: 600;
	height: 90%;
	text-transform: uppercase;
	font-variant: small-caps;
	font-size: 2vh;
	--background: #30A81E;
	letter-spacing: 0.4vw;
}

.price-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	font-family: 'Poppins', sans-serif;
}

.price-label {
	font-weight: 300;
	font-size: 2vh;
	line-height: 2vh;
	width: 100%;
}

.price-value {
	font-weight: 600;
	font-size: 3.5vh;
	line-height: 3.5vh;
}

.ratings {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.stars-rating {
	direction: rtl;
}

.ratings .stars-rating ion-icon {
	font-size: 4.4vh;
	color: #C4C4C4;
}

.stars-rating ion-icon:hover {
	color: var(--primary-color);
}

.stars-rating ion-icon:hover~ion-icon {
	color: var(--primary-color);
}

.ratings ion-chip {
	--background: var(--primary-color);
	color: var(--secondary-color);
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	font-size: 2vh;
	height: 3vh;
	width: 20vh;
}

.ratings ion-chip span {
	width: 100%;
	height: 100%;
	text-align: center;
}

.separator {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

hr {
	width: 40%;
	height: 2px;
	margin: 0;
	background-color: #C4C4C4;
}

.separator {
	font-family: 'Zilla Slab', serif;
	color: #C4C4C4;
	font-size: 2.5vh;
}

.sinopse {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 2.2vh;
	width: 80%;
}

.sinopse span {
	color: var(--primary-color);
}

.sinopse span ion-icon {
	display: inline-block;
	transform: rotate(180deg);
}

.blue {
	background-color: blue;
	width: 40%;
	height: 10%;
	margin: 0;
}