<ion-header>
  <ion-toolbar>
     <ion-button (click)="goBack()" slot="start">
        <ion-icon name="arrow-back-outline"></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="add-circle-outline" outline></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="person-outline"></ion-icon>
     </ion-button>
     <ion-button slot="end">
        <ion-icon name="bag-handle-outline"></ion-icon>
     </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
     <ion-row>
        <ion-col class="book-header">
           <div class="book-cover" style="background-image: url('../assets/{{books[0].cover}}');">
              <ion-button>
                 <ion-icon name="bookmark-outline"></ion-icon>
              </ion-button>
           </div>
           <div class="book-header-info-container">
              <span class="book-title">{{books[0].title}}</span>
              <span class="book-author">{{books[0].author}}</span>
           </div>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="buying">
           <div class="price-container">
              <span class="price-label">
              Melhor preço
              </span>
              <span class="price-value">
              R${{books[0].price.toString().replace('.',',')}}
              </span>
           </div>
           <ion-button>
              Opções de Compra
           </ion-button>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="ratings">
           <div class="stars-rating">
              <ion-icon (click)="successToast($event)" data-star="5" name="star"></ion-icon>
              <ion-icon (click)="successToast($event)" data-star="4" name="star"></ion-icon>
              <ion-icon (click)="successToast($event)" data-star="3" name="star"></ion-icon>
              <ion-icon (click)="successToast($event)" data-star="2" name="star"></ion-icon>
              <ion-icon (click)="successToast($event)" data-star="1" name="star"></ion-icon>
           </div>
           <ion-chip><span>Ver avaliações</span></ion-chip>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="separator">
           <hr>
           <span>Sinopse</span>
           <hr>
        </ion-col>
     </ion-row>
     <ion-row>
        <ion-col class="sinopse">
           {{books[0].resume.slice(0,900)+'...'}}
        </ion-col>
     </ion-row>
  </ion-grid>
</ion-content>