<ion-header [translucent]="true">
   <ion-toolbar>
      <ion-title>
         Books
      </ion-title>
   </ion-toolbar>
</ion-header>
<ion-content>
   <ion-card (click)="openPage()">
      <img src="../../assets/book_1.jpg" />
      <div class="about-book">
         <div class="book-header">
            <span class="title">
            Harry Potter e a Ordem da Fênix
            </span>
            <span class="author">
            J.K. ROWLLING
            </span>
         </div>
         <span class="description">
         Harry não é mais um garoto.
         Aos 15 anos...
         </span>
         <div class="buy-section">
            <span class="price">
            R$19,80
            </span>
            <ion-button>
               Comprar
            </ion-button>
         </div>
      </div>
   </ion-card>
</ion-content>