ion-content {
	--background: var(--secondary-color);
}

ion-card {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 2vh;
	height: 30vh
}

ion-card img {
	width: 30%;
	border-radius: 10px;
}

.about-book {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	height: 100%;
	width: 70%;
	padding-left: 1vh;
}

.book-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.title {
	font-size: 2.5vh;
	width: 100%;
}

.author {
	width: 100%;
	text-transform: uppercase;
}

.description {
	font-size: 2vh;
}

.buy-section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price {
	font-size: 3vh;
}